

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
main section {
  padding-top: 5em;
  padding-bottom: 8em;

}
.last-padding {
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}
.first-padding {
  margin-top: 15px!important;
  padding-top: 0!important;
}
.gallery-section {
  padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
main section {
  padding-top: 3.5em;
  padding-bottom: 5em;
}
.tabs-section {
  padding-top: 0;
}

}
.scroll-top {
  height: 60px;
  width: 45px;
  display: none;
  padding: 5px;
  position: fixed;
  /*Fixed/stickyposition*/bottom: 30px;
  /*Placethebuttonatthebottomofthepage*/right: 20px;
  z-index: 1034;
  /*Makesureitdoesnotoverlap*/background-color: rgb(54, 54, 54);
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.scroll-top div {
  text-align: center;
  color:#ffffff;
  margin-top: -10px;
}
@media only screen and (min-width: 1200px) {
.scroll-top:hover .scroll-top-icon {
  transform: rotate(360deg);
}
}
.scroll-top-icon {
  display: block;
  width: 25px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.25s, height 0.25s, transform 0.25s;
  -webkit-filter: grayscale(1) invert(1); 
  filter: grayscale(1) invert(1);

}
main section h2{
  font-size: 24px;
font-weight: bold;
text-align: center;
margin-bottom: 2.5em;
}
.downloads-section h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: #000000;

}
.tabs-section h2, .about-section h2 {
  font-size: 24px;
  font-weight: bold;
}

.tabs-section h3, .about-section h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  main section h2{
    font-size: 22px;
  margin-bottom: 1.5em;
  }
  .tabs-section h3, .about-section h3 {
    font-size: 18px;
  }
  }



@media only screen and (max-width: 768px) {
  .tabs-section h2, .about-section h2 {
font-size: 16px;
font-weight:normal;
color: rgb(0, 0, 0);
font-style: italic;
  }
  section h2 {
    font-size: 22px;
  }
  .scroll-top {
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   width: unset;
   height: unset;
   right: 10px;
   padding: 0 5px;
   bottom: 80px;
}
    
     .scroll-top div {
    font-size: 10px;
    padding-bottom: 5px;
    
     }
     .scroll-top-icon {
    padding-bottom: 9px;
     
    
     }

}
.black-background {
  background-color: black;
}
/* #region Banner Section */
.manufacturer-welcome-text .more-button{
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 5px;

}
.manufacturer-welcome-text h1 {
  color: white;
  font-size: 43px;
}

#nedzink-logo {
  width: 350px;
  margin-top: -20px;
  margin-right: -16px;
}
@media only screen and (max-width: 668px) {
  #nedzink-logo {
  width: 80%;
  }
}
#zintek-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
@media only screen and (max-width: 668px) {
  #zintek-logo {
  width: 95%;
  }
}
#aurubis-logo-banner {
  width: 600px;
  }
  @media only screen and (max-width:668px) {
  #aurubis-logo-banner {
    width: 100%;
    }
  }



.manufacturer-welcome-text .top-welcome-text {
 margin: 10px 0 10px 0;
}
@media only screen and (min-width: 992px) {
.banner-buttons {

 justify-content: center!important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}


}
@media only screen and (min-width: 1200px) {
  .manufacturer-welcome-text h1 {
    font-size: 80px;
  }
}
.page-header-img {
  background-color: transparent;
  z-index: 1001;
  
}
#zm-silesia-logo {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.manufacturer-banner {
  margin-top: -105px;
}
@media only screen and (max-width: 992px) {
  .manufacturer-banner {
margin-top: -56px;

  }
.page-header {
  display:none;
}

}
@media only screen and (max-width: 768px) {
  .manufacturer-banner {
margin-top: -50px;
  }
}
.manufacturer-banner .item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    display: flex;
align-items: flex-end;
justify-content: flex-end;
padding-bottom: 3em;
}

.manufacturer-banner .item .banner-info {
width: 100%;
}
.manufacturer-banner .owl-dots {
    position: relative;
    bottom: 3em;
}
.manufacturer-banner .owl-nav {
display:none;
}

.manufacturer-banner h4 {
font-size: 50px;
color: white;
text-align: center;
}


@media only screen and (max-width: 992px) {
  .manufacturer-banner h4 {
font-size: 50px;
}
}
@media only screen and (max-width: 768px) {
  .manufacturer-banner h4 {
font-size: 30px;
}
}


#nz-naturel-banner {
    background-image: url(../images/jack-house-nedzink-naturel-good.JPG);
}
#nz-neo-banner {
    background-image: url(../images/phillips-nedzink-neo.jpeg);
}
#nz-noir-banner {
    background-image: url(../images/hispec-ngas-nedzink-noir-good.jpg);
}
@media only screen and (max-width:768px) {
  #nz-noir-banner {
    background-image: url(../images/hispec-ngas-nedzink-noir-good-mobile.jpg);
}
}
#zintek-banner-1 {
  background-image: url(../images/zintek-gallery/realizzazioni-zintek-psenner11.jpg);
}
#zintek-banner-2 {
  background-image: url(../images/zintek-gallery/realizzazioni-zintek-resort-waterrijk1.jpg);
}

#zintek-banner-3 {
  background-image: url(../images/zintek-gallery/realizzazioni-zintek-pontili-ACTV-28.jpg);

}

#zm-banner-1 {
  background-image: url(../images/zm-silesia-gallery/zm-preaged-zinc-cladding-proclad-western-harbour-2.png);
}

@media only screen and (max-width:992px) {
  #zm-banner-1 {
    background-image: url(../images/zm-silesia-gallery/zm-silesia-preaged-zinc-2.jpg);
   background-position: center;
  }
}

#aurubis-banner-1 {
  background-image: url(../images/aurubis-gallery/banner/aurubis-nordic-royal-copper-architecture-hard-rock-hotel-budapest.jpg);
  
}
#aurubis-banner-2 {
  background-image: url(../images/aurubis-gallery/banner/aurubis-nordic-brass-copper-architecture.jpg);

}
#aurubis-banner-3 {
  background-image: url(../images/aurubis-gallery/banner/aurubis-q&m-dings-nordic-brown-light.jpg);
 
}


/* #endregion */

/* #region Gallery Section */
.gallery-section {
    padding-left: 1px;

  
}
  .gallery-container {
    position: relative;
    padding: 0px 1px 1px 0;
  width: 25%;
 height: 250px;
 overflow:hidden;
  }
  .gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1b1b1bab;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }
  .zoom-icon {
    -webkit-filter: grayscale(1) invert(1); filter: grayscale(1) invert(1);
      width: 20px!important;
      margin-left: 10px;
  }

  .gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }



  
  .filter-button.active {

background-color: rgb(48, 48, 48);
color: white;
  

  }
  
  .filter-button {
    text-transform: uppercase;
    background-color: white;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
  border-radius: 40px;
  padding:10px;
margin-right: 10px;
  color:#000000;
  white-space: nowrap;
  }

.filter-buttons-container {
display: flex;
position: sticky; 
    top: 65px; 
    flex-wrap:nowrap; 
    justify-content: center;
    overflow-x: scroll; 
    z-index: 999; 
    padding: 10px 0 10px 0; 
    background-color:rgb(230, 230, 230);
    margin-bottom: 0px;

}
.filter-buttons-container::-webkit-scrollbar {
  display: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

  @media only screen and (min-width:1700px) {
    .gallery-container {
  width: 25%;
  
    }
  }
  @media only screen and (max-width: 992px) {
.gallery-overlay {
  display: none;
}
.gallery-container {
  width: 33.33%;
  height: 200px;
}
  }


  @media only screen and (max-width: 992px) {
  .filter-buttons-container { 
    top: 50px; 
    justify-content: flex-start!important;
}
#zm-silesia-gallery .filter-buttons-container {
  justify-content: center!important;
}
.filter-button {
margin-bottom: 0px!important;
margin-right: 5px!important;
margin-left: 5px;
font-size: 10px;
}
  }


  @media only screen and (max-width: 568px) {
    .gallery-container {
  width: 50%;
  height: 150px;
}
  .gallery-section {
padding-left: 1px;
  
    }
  
    .gallery-section .container {
      padding-right: 0;
      padding-left: 0;
    }
    
  }
  @media only screen and (min-width: 1200px) {
    .gallery-container:hover .gallery-overlay {
      opacity: 1;
    }
  }
 .gallery-section .row {
    margin-right: 0!important;
    margin-left: 0!important;
}
@media only screen and (min-width: 1200px) {
  .filter-button:hover {
    background-color: rgb(48, 48, 48);
    color: white;
    }
  }
  
  

/* #endregion */

/* #region Downloads Section */


.downloads-thumbnail {
  height: 267px;
  width: 190px;
  box-shadow: rgb(184, 184, 184) 2px 2px 5px;
  object-fit: contain;
}
#aurubis-downloads .downloads-thumbnail{
  height: 267px;
  width: 190px;
  }
  #aurubis-downloads .downloads-container {
    flex-wrap:wrap;
  
  }
  #copper-book {
    width: 200px!important;
    height: 226px!important;
  }

  #surface-evolution {
    width: 267px!important;
    height: 190px!important;

  }

 .downloads-side-header {

    left:0!important;
    z-index: 1019!important;
    width: 75px;
    height: 360px;
    background-color:rgba(26, 26, 26, 0.753);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.downloads-side-header h3 {
  writing-mode: vertical-lr;
  /*text-orientation: sideways;
  */transform:scale(-1);
  height: 360px;
  width: 100%;
  text-align: center;
  line-height: 75px;
  margin-bottom: 0;
  font-size: 15px;
  display: block;
  white-space: nowrap;
  color: white;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

  .brochures-downloads, .data-sheets-downloads {
  overflow-x: hidden;
  overflow-y: hidden;
    display: flex;
    position: relative;
  background:linear-gradient(rgb(216, 216, 216), rgb(216, 216, 216)) top left /* left or right or else */ no-repeat;
  background-size:40% 1px;

  }
  @media only screen and (max-width: 768px) {
    .brochures-downloads, .data-sheets-downloads {
 
      background: transparent;
  
    
      }

  }
  .brochures-downloads {
    margin-bottom: 50px;
  }

  .brochures-downloads a figure, .data-sheets-downloads a figure{
    margin-right: 80px!important;
    margin-top: 30px;
  }
  @media only screen and (max-width: 992px) {
    .brochures-downloads a figure, .data-sheets-downloads a figure{
      margin-right: 40px!important;
      margin-top: 25px!important;
    }
    .brochures-downloads, .data-sheets-downloads {
    background-size: 95% 1px;
    
    } 
  }

  @media only screen and (max-width: 768px) {
    .brochures-downloads a figure, .data-sheets-downloads a figure {
 
      margin-top: 10px!important;
    }
    .brochures-downloads {
      margin-bottom: 30px;
    }
  #zm-silesia-downloads a {
    margin-right: 20px;
  }

  }

  .downloads-container a figure{
    display: flex!important;
    flex-direction: column!important;
    justify-content: flex-end!important;
  
  }
.downloads-container a {
  text-decoration: none;
}
.downloads-section div a {

color: black;
font-size: 14px;
text-transform: capitalize;
margin: 50px 50px 0 0;
}
#zintek-downloads div a, #zm-silesia-downloads div a {
  margin-top: 30px;
}

.downloads-section div a figcaption {
margin-top: 10px;
text-align: center;
text-decoration: none!important;
}
@media only screen and (min-width: 1200px) {
.downloads-thumbnail:hover {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: rgb(167, 167, 167) 2px 2px 5px;
}
}
.downloads-container {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure { 
  display: table;
margin: 0;
 }


figcaption { display: table-caption; caption-side: bottom ; }
figcaption {
  line-height: 1.3;
}
#zintek-downloads div a {
  width: 230px!important;
}

@media only screen and (max-width: 1024px) {
 .downloads-container {
   flex-wrap: nowrap;
   overflow-x:scroll;
   justify-content: flex-start;
 }
 .downloads-container::-webkit-scrollbar {
  display: none;
}
 #zintek-downloads-container {
   justify-content: center;
 }
 
 .downloads-section div a {
   margin-left: 0px;
 }
  .downloads-thumbnail {
  width: 180px;
  height: 253px;
    box-shadow: rgb(184, 184, 184) 2px 2px 5px;
    object-fit: cover;
  }

  .downloads-section .container{
    padding-right: 0;
    padding-left: 10px;
  
  }


}
@media only screen and (max-width: 767px) {
#zintek-downloads-container {
  justify-content: flex-start;
}
}
.downloads-container-short {
  justify-content: center;
  overflow-x:hidden;
  padding-right: 10px;
}
@media only screen and (max-width: 568px) {
.downloads-container-short a {
  width: calc(50% - 10px);
}
}
.zintek-downloads-thumbnail {
  width: 230px;
  height: 230px;
}

/* #endregion */

/* #region Tabs */
  .juxtapose, .juxtapose-0 {
    width: 400px!important; 
    height: 400px!important;
    margin-top: 20px;
  }
  .jx-knightlab {
    display: none!important;
  }

  @media only screen and (max-width: 992px) {
    .juxtapose, .juxtapose-0 {
      width: 300px!important; 
      height: 300px!important;
    }

  }
  @media only screen and (max-width:768px) {
    .juxtapose, .juxtapose-0 {
      width: 350px!important; 
      height: 350px!important;
    }

  }
.manufacturer-video{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 550px;


}
@media only screen and (max-width: 992px) {
  .manufacturer-video {
  width: 100%;

}
  }
  .pill-2-img-container {
   width: 40%;
   height: 470px;
    margin-right: 20px;
  }
.pill-2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.p-flexx {
  width: 50%;
}
.flexx {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .pill-2-img-container {
    width: 100%;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
   }
   .flexx {
  flex-direction: column-reverse;
  }
  .p-flexx {
    width: 100%;
  }

}

 .pill-3-img{
    height: 320px;
  }
  @media only screen and (max-width: 768px) {
    .manufacturer-video {
      margin-bottom: 30px;
    }
    .top-about-h3 {
      margin-top: 0px!important;
    }
.pill-3-img{
  max-height: 320px;
}
.nav-pills .nav-link {
  font-size: 11px!important;
}
  }

.nav-pills {
  margin-top: 0px;

}
@media only screen and (min-width: 1200px) {
.nav-pills .nav-link:hover {
  font-weight: bold;
  }
}
  .nav-pills .nav-link.active {
  background-color: transparent;
  color:#000000;
  font-weight: bold;
  text-decoration: underline;
  }

  .nav-pills .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
  border-radius: 0px;
  padding: 10px 20px 20px 20px;
  padding-left: 0px;
  color:#000000;
  }


  .tabs-section {
position: relative;
  }
  #about-zintek {
    padding-bottom: 2em;
  }
 
  .tabs-section .sticky-top {
    position:unset;
  }
 
  .brochure-request label {
    display: block;
    padding-left: 17px;
    text-indent: -17px;
}
.brochure-request input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  right: 2px;
  *overflow: hidden;
}
  

 
  @media only screen and (max-width: 768px) {
    .tabs-section .sticky-top {
      position: sticky;
      top: 46px;
      background-color: white;
      z-index: 1000;
    }
    .tabs-section .nav-pills {
flex-direction: column;
padding: 5px 0 0px 0!important;
text-align: center;
      }

      .tabs-section .nav-pills {
        border-bottom: solid 1px rgb(192, 192, 192);
      }
      .nav-pills .nav-link {
          padding: 5px 0 0px 0;
      }
      #nedzink-pills-4-tab, #aurubis-pills-3-tab {
        padding-bottom: 5px;
      }
  
.navbar .menu-open {
  background-color: black!important;
}

#nordic-decor-carousel-2 {
  display: none;

}

.nordic-decor-carousel .item {
height: 400px;

}
}
@media only screen and (max-width: 668px) {
 .nordic-decor-carousel .item {
    height: 300px;
    }
    .nordic-decor-carousel {
      margin-top: 20px;
    }
  
    #nordic-decor-carousel-2 {
      display: block!important;
    margin: 20px 0 20px 0;
    }
    #nordic-decor-carousel-1 {
      display: none!important;
    }

}


.nordic-decor-carousel .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.nordic-decor-carousel .owl-nav{
margin: 0 5px;
padding: 0;
}

.nordic-decor-carousel .owl-next, .downloads-section .owl-next {
  position: absolute;
  top: 45%;
  right: 0;
}
.nordic-decor-carousel .owl-prev, .downloads-section .owl-prev {
  position: absolute;
  top: 45%;
  left: 0;
}
.nordic-decor-carousel .owl-prev, .nordic-decor-carousel .owl-next, 
.downloads-section .owl-prev, .downloads-section .owl-next {
  font-size: 40px!important;
  color:white;
  width: 40px;
  height: 40px;
  outline: none;
  box-shadow: none;

}
.nordic-decor-carousel .owl-prev:hover, .nordic-decor-carousel .owl-next:hover,
.downloads-section .owl-prev:hover, .downloads-section .owl-next:hover  {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.nordic-decor-carousel .owl-prev span, .nordic-decor-carousel .owl-next span,
.downloads-section .owl-prev span, .downloads-section .owl-next span{
  color: white;
  position: relative;
  bottom: 29px;
}
@media only screen and (max-width: 668px) {
  .nordic-decor-carousel .owl-next span, .nordic-decor-carousel .owl-prev span{

   bottom: 24px;
}
}
.downloads-section .owl-next {

}
.owl-dot {
   outline:none!important;
  }

/* #endregion */

/* #region Finishes Section */
#nedzink-finishes .finishes-block p, #zm-silesia-finishes .finishes-block p, #zintek-finishes .finishes-block p {
  margin-bottom: 0;
}
#zm-silesia-finishes .nav-pills {
  justify-content: center;
}
.card-body {
  background-color: transparent;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.mobile-finishes-block img, .tablet-finishes-block img{
width: 100%;
}
.mobile-finishes-block .sample-item, .tablet-finishes-block .sample-item{
 padding-right: 10px;
  }
  .finishes-block-row-5 img, .finishes-block-row-6 img {
  width: 100%;
  }
  .finishes-block-row-5 .sample-buttons{
   margin: 0 0 5px 0;
  }

  .finishes-block-row-5 .sample-item {
    padding: 0 5px 0 0px;
    width: 20%;
  }
  .finishes-block-row-6 .sample-item {
    padding: 0 5px 0 5px;
    width: 16.666%;

  }
  .finishes-block-row-5 .sample-buttons, .finishes-block-row-6 .sample-buttons {
    display: flex;
    
  }

  
  .finishes h5 {
    font-size: 14px;
    font-weight: bold;
  }
  .sample-buttons {
   margin: 0px 0px 10px 10px;
  }
  #aurubis-finishes .sample-buttons {
    margin-left: 0px;
  }
  .sample-item a {
    display:block;
    position:relative;
    height: 100%;
  }
  .sample-item .sample-overlay h4 {
margin-bottom: 0;
opacity: 0;

  }
  .sample-overlay {
    position: absolute;
    bottom: 0!important;
    opacity: 0;
    width: 100%;
    transition: .5s ease;
  }
  .sample-item a[aria-expanded=true] .sample-overlay{
    opacity: 1;
    }
    .finishes-block-row-6 .sample-overlay {
      opacity: 1;
    }

  .sample-item a .sample-overlay img {
    display: none;
  }
 
  .sample-item a[aria-expanded=true] .sample-overlay img{
   display: inline;
    }
    .sample-item a[aria-expanded=true] .sample-overlay h4{
      opacity: 1;
     padding-bottom: 2px;
      
      }
    .down-arrow {
   width: 25px!important;
    }
    .down-arrow-white {
      width: 25px!important;
     -webkit-filter: grayscale(1) invert(1); 
     filter: grayscale(1) invert(1);
    }
.finishes-block .row, .mobile-finishes-block .row, .tablet-finishes-block .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.finishes-block .sample-item:hover .sample-overlay h4{
 opacity:1;
    }
  
.line {
  height: 50px;
border-right: solid 1px;

}
.samples-container {
  display: flex;
}

@media only screen and (max-width: 768px) {


  }
.finishes-block .nav-link {
  padding: 0px;
  position: relative;
  margin-right: 10px;
}

.line-container {
  padding: 0;
  --bs-gutter-x: 0;
}
.line-container div {
  padding-right: 10px;



}


#naturel-tab .sample-overlay h4 {
  color: rgb(34, 34, 34);
}

.finishes .nav-link:hover .sample-overlay {
  opacity: 1;
}
.sample-overlay h4 {

  color: rgb(255, 255, 255);
 width: 100%;
  text-align: center;
padding: 10px;
text-transform: capitalize;
font-size: 13px;
}
.sample-h4-background-dark {
  background-color: rgba(0, 0, 0, 0.473);

}
.finishes-section .nav-item .nav-link.active .sample-overlay {
  opacity:1;
}
.nav-link.active  .sample-overlay{
  opacity:1;
}

.finishes-block, .tablet-finishes-block{
  display:none;
 }
 
 #aurubis-finishes .finishes-block h4 {
  font-size: 13px;
 }
 #aurubis-finishes .mobile-finishes-block .sample-item {
   padding-right: 5px;
 }
 #aurubis-finishes .mobile-finishes-block .sample-buttons {
   margin: 0 0 5px 5px;
 }
 #aurubis-finishes .mobile-finishes-block .sample-item h4 {
   font-size: 12px;
 }
 
 
 @media only screen and (min-width: 568px) {
  .finishes-block, .mobile-finishes-block{ 
    display: none;
  }
  .tablet-finishes-block {
    display: block;
  }

  }

@media only screen and (max-width: 992px) {
  #aurubis-finishes .finishes-block .sample-item{
  padding-right: 0px
  }
  #aurubis-finishes .finishes-block .sample-buttons{
    margin: 0 0 5px 5px;
    }
    #aurubis-finishes .finishes-block h4{
      font-size: 11px;
      }
}
@media only screen and (min-width: 992px) {
.mobile-finishes-block, .tablet-finishes-block{ 
  display: none!important;
}
.finishes-block {
  display: block;
}
}


/* #endregion */


/* #region Form Section */
label {
  position: relative;
}
.required-indicator {
  color: rgb(185, 1, 1);
  display: none;
  position: absolute;
  top:5px;
  right: 5px;
  font-size: 30px;
  line-height: 1;
}

.contact-form label {
  margin-bottom: 10px;
}
.contact-form textarea, .contact-form input, .contact-form select {
  color: #383838;
  border-radius: 0px;
    font-size: 12px;
    line-height: 2;
      border-color: #b8b8b8;
    outline: none!important;
    box-shadow:none!important;
}

input:required + .required-indicator, textarea:required + .required-indicator {
  display: block;
}

.contact-form input[type='text'], .contact-form input[type='tel'], .contact-form select {
  height: 53px;
}
.contact-form textarea {
  height: 130px;
}
#nedzink-contact-form textarea {
  height: 160px;
}

  input[type='file'] {
   line-height: 3.4;
     }
  

@media only screen and (max-width: 768px) {

.contact-form textarea, .contact-form input, .contact-form select {
line-height: 2;
}
input[type='file'] {
  line-height: 3.4;
    }


.contact-form input[type='text'], .contact-form input[type='tel'], .contact-form select {
  height: 44px;
}
}

.order-samples {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.checkmark {
  display: none;
  width: 40px;
  position: absolute;
  filter:brightness(1000%);
}

input#checkbox-naturel + label {
  background:url("../images/finishes/nedzink/nz-naturel.jpg");
}
input.sample-checkbox:checked + label .checkmark {
  display: block;

}

input.sample-checkbox:checked + label {
  box-shadow: 2px 2px 5px gray;

}
/*NedZink*/
input#checkbox-neo + label{
  background:url("../images/finishes/nedzink/nz-neo.jpg");
}

input#checkbox-noir + label{
   background:url("../images/finishes/nedzink/nz-noir.jpg");
 }

 input#checkbox-nuance-red + label{
  background:url("../images/finishes/nedzink/nz-nuance-red.jpg");
}
input#checkbox-nuance-blue + label{
  background:url("../images/finishes/nedzink/nz-nuance-blue.jpg");
}

input#checkbox-nuance-green + label{
  background:url("../images/finishes/nedzink/nz-nuance-green.jpg");
}
/*Zintek*/
input#checkbox-rock-grey + label{
  background:url("../images/finishes/zintek/zintek-rock-grey.jpg");
  background-size: contain;
}
input#checkbox-antique-red + label{
  background:url("../images/finishes/zintek/zintek-antique-red.jpg");
  background-size: contain;
}
input#checkbox-mediterranean-blue + label{
  background:url("../images/finishes/zintek/zintek-mediterranean-blue.jpg");
  background-size: contain;
}
input#checkbox-lagoon-green + label{
  background:url("../images/finishes/zintek/zintek-lagoon-green.jpg");
  background-size: contain;
}
input#checkbox-earth-brown + label{
  background:url("../images/finishes/zintek/zintek-earth-brown.jpg");
  background-size: contain;
}
input#checkbox-graphite-black + label{
  background:url("../images/finishes/zintek/zintek-graphite-black.jpg");
  background-size: contain;
}
/*ZM Silesia*/
input#checkbox-bright-rolled + label{
  background:url("../images/finishes/zm-silesia/zm-natural-swatch.jpg");
  background-size: contain;
}
input#checkbox-pre-aged + label{
  background:url("../images/finishes/zm-silesia/zm-preaged-swatch.jpg");
  background-size: contain;
}
input#checkbox-carbon + label{
  background:url("../images/finishes/zm-silesia/zm-carbon-swatch.jpg");
  background-size: contain;
}
/*Aurubis*/
.sample-checkbox-container .sample-checkbox + label {

min-width: 160px!important;
  
  }
.sample-checkbox-container {
  height: 250px;
}
@media only screen and (max-width: 540px) {
  .sample-checkbox-container {
    height: 400px;
  }
}
input#checkbox-standard + label{
  background:url("../images/finishes/aurubis/nordic-standard.png");
  background-size: contain;
  background-repeat: no-repeat;
}
input#checkbox-brown + label{
  background:url("../images/finishes/aurubis/nordic-brown.png");
  background-size: contain;
  background-repeat: no-repeat;
}
input#checkbox-brown-light + label{
  background:url("../images/finishes/aurubis/nordic-brown-light.png");
  background-size: contain;
  background-repeat: no-repeat;
}

input#checkbox-brass + label{
background:url("../images/finishes/aurubis/nordic-brass.png");
background-size: contain;
background-repeat: no-repeat;
}
input#checkbox-brass-weathered + label{
background:url("../images/finishes/aurubis/nordic-brass-weathered.png");
background-size: contain;
background-repeat: no-repeat;
}

input#checkbox-bronze + label{
  background:url("../images/finishes/aurubis/nordic-bronze.png");
  background-size: contain;
  background-repeat: no-repeat;
}
input#checkbox-royal + label{
  background:url("../images/finishes/aurubis/nordic-royal.png");
  background-size: contain;
  background-repeat: no-repeat;
}
input#checkbox-green-traditional + label{
  background:url("../images/finishes/aurubis/nordic-green-traditional.png");
  background-size: contain;
  background-repeat: no-repeat;
}

input#checkbox-green-living-1 + label{
background:url("../images/finishes/aurubis/nordic-green-living-1.png");
background-size: contain;
background-repeat: no-repeat;
}
input#checkbox-green-living-2 + label{
background:url("../images/finishes/aurubis/nordic-green-living-2.png");
background-size: contain;
background-repeat: no-repeat;
}


input#checkbox-turquoise + label{
  background:url("../images/finishes/aurubis/nordic-turquoise.png");
  background-size: contain;
  background-repeat: no-repeat;
}
input#checkbox-blue-traditional + label{
  background:url("../images/finishes/aurubis/nordic-blue-traditional.png");
  background-size: contain;
  background-repeat: no-repeat;
}
input#checkbox-blue-living-1 + label{
  background:url("../images/finishes/aurubis/nordic-blue-living-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

input#checkbox-blue-living-2 + label{
background:url("../images/finishes/aurubis/nordic-blue-living-2.png");
background-size: contain;
background-repeat: no-repeat;
}
input#checkbox-blue-living-3 + label{
background:url("../images/finishes/aurubis/nordic-blue-living-3.png");
background-size: contain;
background-repeat: no-repeat;
}


.sample-request-flex-x3 {
  flex-wrap: wrap;
}


.sample-rq {
  width: 100%;
}

input.sample-checkbox{
  display: none;
}


input.sample-checkbox + label {
display: block;
  height: 40px;
  width: 40px;
cursor: pointer;
margin-bottom: 10px;
}

.label-text {
  display: block;
  padding-left: 45px;
  white-space: nowrap;
  line-height: 40px;
}

.brochure-request{
  display: flex;
  flex-wrap:wrap;

}
.brochure-request label {
margin-bottom: 5px;
width: 33.33%;
line-height: 1.7;
  }

 
@media only screen and (max-width: 992px) {

  .brochure-request {
    flex-wrap: wrap;
  margin-bottom: 20px;
  }

}
@media only screen and (max-width: 767px) {
.p-brochure {
  margin-top: 15px;
}
.brochure-request label {
  width: 50%;
  }
  #aurubis-contact-form .brochure-request label {
    width: 100%;
      }
}
#zm-silesia-contact-form .brochure-request label {
  width: 100%;
    }

/* #endregion */

